@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

/* Main */
:root {
  --darkMagenta: hsl(300, 43%, 22%);
  --softPink: hsl(333, 80%, 67%);
  --darkGrayMagenta: hsl(303, 10%, 53%);
  --lightGrayMagenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  font-family: 'Spartan', sans-serif;
  font-size: 15px;
}

body {
  background-image: url('images/bg-pattern-top-desktop.svg'), url('images/bg-pattern-bottom-desktop.svg');
  background-position: top left, bottom right;
  background-repeat: no-repeat;
  display: grid;
  min-height: 100vh;
  min-width: 100vw;
}

.container {
  align-self: center;
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-self: center;
  border: 4px dotted var(--darkMagenta);
}

/* Review Cards */
.reviews {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  padding: 10px;
}
.review-card {
  background-color: var(--darkMagenta);
  border-radius: 10px;
  color: var(--white);
  height: 220px;
  margin: 10px;
  width: 350px;
}

.reviewer-profile {
  align-items: center;
  display: flex;
  margin: 30px;
}

.reviewer-details p,
.review {
  font-size: 12px;
}

.reviewer-name {
  margin-bottom: 4px;
}

.reviewer-type {
  color: var(--softPink);
}

.avatar {
  border-radius: 50%;
  margin-right: 20px;
  max-width: 40px;
}

.review {
  line-height: 1.8;
  margin: auto 30px;
}

.card-2 {
  margin-top: 25px;
}

.card-3 {
  margin-top: 40px;
}
/* Attribution Section */

.attribution {
    font-size: 15px;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 20px;
}

.attribution a {
  color: var(--darkMagenta);
}

/* Media Queries */

@media only screen and (max-width: 1150px) {
  .card-2 {
    margin-top: 10px;
  }
  
  .card-3 {
    margin-top: 10px;
  }
}